/* Font */
* {
    font-family: 'Nunito', sans-serif;
}

/* Navbar */
.logo {
	height: 50px;
}

nav a {
	font-weight: bold;
}

/* Park Card */
.card-wrapper {
	padding: 10px;
	margin-top: 10px;
}

.card-img-top {
	height: 200px;
}

/* Weather */
.weather-wrapper p:nth-of-type(1),
.weather-wrapper p:last-of-type {
	display:none;
}

.today p {
	display:block !important;
}