/* Font */
* {
    font-family: 'Nunito', sans-serif;
}
/*******/


/* Navbar */
.logo {
	height: 50px;
}

nav a {
	font-weight: bold;
}
/*******/


/* Jumbotron */
.jumbotron {
	margin-bottom: 10px;
}
/*******/


/* Flip Card */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 280px;
  border: 0.1px transparent solid;
  border-radius: 5%;
  perspective: 1000px; 
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card img {
	width: 100%;
	height: 280px;
	border-radius: 5%;
}

.flip-card p {
	font-size: 0.8rem;
}
/*******/


/* Park Detail Info */
.park-detail-info {
	margin-top: 20px;
}

.park-detail-info img {
	width: 100%;
	border-radius: 2%;
	border: double #c0c0c0 4px;
}

.park-detail-info h5 {
	font-weight: bold;
}
/*******/


/* Park Info Table */
.park-info-table {
	margin-top: 30px;
}

.park-info-table h5 {
	font-style: oblique;
}

table {
    border-collapse: collapse;
}

table tr > * {
    display: block;
}

table tr {
    display: table-cell;
    width: 125px;
}

th:nth-of-type(even), td:nth-of-type(even) {
	background: #eee;
}
/*******/


/* Weather Info */
.weather-info {
	margin: 30px 0;
}

.weather-info h4 {
	font-weight: bold;
}

.weather-wrapper h5,
.weather-wrapper p:last-of-type {
	display: none;
}

.weather-wrapper p {
	margin: 0;
}

.weather-wrapper img {
	width: 100%;
	max-height: 150px;
}

.today .weather-img-wrapper {
	width: 50%;
}

.today img {
	width: 20%;
	margin: 0 auto;
	max-height: 200px;
	display: block;
}

.today h5 {
	display: block !important;
	font-weight: bold;
}

.today p {
	display: block !important;
}
/*******/


/* Survey Form */
.survey form {
	width: 65%;
	margin: 30px auto;
}

.error {
	color: red;
}
/*******/


/* Favorite Parks */
.favorite-parks img {
	border-radius: 50%;
	height: 300px;
	width: 100%;
}

.favorite-parks img:hover {
	opacity: 0.8;
}

.favorite-parks p {
	font-size: 0.9rem;
}

.favorite-parks .col-5 {
	padding: 50px;
}

.favorite-parks:nth-of-type(even) {
	background: #eee;
}
/*******/
